.body {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: start; 
  height: 100vh;
}

h1 {
  position: top;
  top: 0;
  width: 100%; /* 确保横跨整个页面 */
  text-align-last: center;
  background-color: #fff;
  z-index: 1000;
}

.controller {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: start; 
  height: 100vh;
}

.controls-container {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 160px 0px;
}

.slider-container {
  width: 50vw;
  padding: 40px 0px;
}

.video-container {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  padding: 10px 20px;
  background-color: blue; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  border: 2px solid blue;
}

button:hover {
  background-color: white; /* White background for hover */
  color: blue; /* Green text for hover */
}

video {
  width: 50vw;
  position: right;
}

.range-slider {
  width: 100%; /* 或根据实际需要调整 */
}